<div id="<%= dom_id computer %>">
  <p>
    <strong>Cpu:</strong>
    <%= computer.cpu %>
  </p>

  <p>
    <strong>Ram:</strong>
    <%= computer.ram %>
  </p>

  <p>
    <strong>Hdd:</strong>
    <%= computer.hdd %>
  </p>

  <p>
    <strong>Cdrom:</strong>
    <%= computer.cdrom %>
  </p>

</div>
