<p style="color: green"><%= notice %></p>
<h1>Friends</h1>
<%= turbo_stream_from "friends_channel" %>
<%= turbo_frame_tag "friends" do %>
	<div class="container">
		<% @friends.each do |friend| %>
			<div class="container bg-info bg-opacity-25">
				<%= render friend %>
				<%= link_to "Show this friend", friend %>
			</div>
			<p>
			</p>
		<% end %>
		<%= link_to "New friend", new_friend_path %>
	</div>
<% end %>
