<div class="container mt-3">
	<%= form_with model: post do |form| %>
		<% if post.errors.any? %>
			<div class="from-group mb-2">
				<%= post.errors.full_messages.to_sentence.capitalize %>
			</div>
		<% end %>
		<div class="form-group mb-2">
			<%= form.label :title, class: 'form-label' %>
			<%= form.text_field :title, class: 'form-control' %>
		</div>
		<div class="form-group mb-2">
			<%= form.label :content, class: 'form-label' %>
			<%= form.text_area :content, class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= form.submit :submit, class: "btn btn-primary" %>
		</div>
		<div class="form-group">
			<%= link_to sanitize('Cancel'), posts_path, data: {turbo_frame: '_top'} %>
		</div>
	<% end %>
</div>
