<%= turbo_frame_tag dom_id(post) do %>
	<%= turbo_stream_from post %>
	<div class="container bg-light mb-3">
		<div class="row">
			<div class="col-8">
				<div class="row d-flex flex-column">
					<div class="col-4">
						<p><%= post.title.capitalize %></p>
					</div>
					<div class="col-4">
						<p><%= post.content %></p>
					</div>
				</div>
			</div>
			<div class="col-4 text-end">
				<div class="container d-flex flex-column justify-content-center">
					<%= link_to 'show post', post, target: '_top' %>
					<%= link_to 'edit post', edit_post_path(post), data: {turbo_frame: dom_id(post)} %>
					<%= button_to 'Delete',
                        post,
                        method: :delete,
                        form: { data: { turbo_frame: "_top" } }
                    %>
				</div>
			</div>
		</div>
	</div>
<% end %>
