<div class="container border-2">
    <h1>Demo#index</h1>

    <div id='instanceVariable'>
        <ul>
            <% @test.each do |num| %>
                <li>number
                <%= num %>
                </li>

            <% end %>
        </ul>
    </div>
    <div class="container" style="border: 1px solid black;">
        <h5>render partial test</h5>
        <%= render partial: 'test', locals: {name: 'paulo', age: 30} %>
    </div>
    <br>
    <div class="<%= content_for?(:prova) ? 'prova' : 'no_content_for'  %>" style="border: 1px solid black;">
        contenuto di content_for : <%= content_for(:prova) %>
        <%= yield :prova %>
    </div>
    <br>

    <div class="form" style="border: 1px solid black;">
        <%= form_with nil: "/welcome", method: :get do |form| %>
            <%= form.label :query, "Search for:" %>
            <%= form.text_field :query %>
            <%= form.submit "Search" %>

        <% end %>
    </div>
</div>
