<div>
	<%= link_to 'back', posts_path, class: 'btn btn-primary' if
        controller_name == 'posts' && controller.action_name != 'index' %>
	<%= link_to 'new', new_post_path, class: 'btn btn-primary' if controller.action_name == 'index' %>
	<%= link_to 'show', post_path(post), class: 'btn btn-primary' %>
	<%= link_to 'edit', edit_post_path(post), target: '_top', class: 'btn btn-primary' %>
	<%= button_to 'delete', post_path(post), class: 'button-to btn btn-primary',
        method: 'delete', form: { data: { turbo_frame: '_top'}, class: 'd-inline-block' } %>
</div>
