<div class="container mt-4">
	<div class="row justify-content-md-center">
		<div class="col col-lg-5 col-md-5 col-sm-5">
			<div class="card">
				<div class="card-header text-center">
					SignIn Page
				</div>
				<div class="card-body">
					<%= form_for(resource, as: resource_name, url: registration_path(resource_name), builder: BootstrapBuilder, html: {"data-turbo": false}) do |form| %>
						<%= render 'avatar', form: form %>

						<div class="form-group mb-2">
							<%= form.label :email %>
							<%= form.email_field :email %>
							<% if resource.errors.has_key?(:email) %>
								<%= content_tag :div, resource.errors.full_messages_for(:email).to_sentence, {class: ['d-block', 'invalid-feedback']} %>
							<% end %>
						</div>
						<div class="form-group mb-2">
							<%= form.label :password %>
							<%= form.password_field :password %>
							<% if resource.errors.has_key?(:password) %>
								<%= content_tag :div, resource.errors.full_messages_for(:password).to_sentence, {class: ['d-block', 'invalid-feedback']} %>
							<% end %>
						</div>
						<div class="form-group mb-2>
							<%= form.label :password_confirmation  %>
							<%= form.password_field :password_confirmation, { autocomplete: "off" } %>
							<% if resource.errors.has_key?(:password_confirmation) %>
								<%= content_tag :div, resource.errors.full_messages_for(:password_confirmation).to_sentence, {class: ['d-block', 'invalid-feedback']} %>
							<% end %>
						</div>
						<div class="form-control text-center border-0 mt-3">
							<%= form.submit "Sign up" %>
						</div>
					<% end %>
					<div class="form-group">
						<%= render "devise/shared/links" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
