<div id="<%= dom_id person %>">
  <p>
    <strong>First name:</strong>
    <%= person.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= person.last_name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= person.age %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= person.weight %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= person.bio %>
  </p>

  <p>
    <strong>Married:</strong>
    <%= person.married %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= person.birthdate %>
  </p>

</div>
